name: "PROD DEPLOY"

on:
  push:
    branches:
      - main


# Permission can be added at job level or workflow level
permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: prod
      aws-assume-role-arn: "arn:aws:iam::654654464640:role/github-actions-lucasfelipe7-pipeline"
      aws-region: "sa-east-1"
      aws-statefile-s3-bucket: "lucasfelipe7-sa-east-1-terraform-statefile"
      aws-lock-dynamodb-table: "lucasfelipe7-sa-east-1-terraform-lock"